* {
    border: none;
    border-radius: 0;
    font-family: "SF Mono";
    font-size: 13;
    min-height: 0;
}

window#waybar {
    border-radius: 0px;
    background: #000507;
    color: #f8f8f6;
}

tooltip {
    background: #000507;
    border-radius: 0px;
}

#workspaces button {
    padding: 5;
    color: #505050;
}

#workspaces button.active {
    color: #f8f8f6;
}

#workspaces button.focused {
    color: #859289;
    background: #000507;
}

#workspaces button.urgent {
    color: #11111b;
    background: #000507;
}

#workspaces button:hover {
    background: #000507;
    color: #9da9a0;
}

#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight,

#tray {
    margin-right: 10px;
}

#workspaces {
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#clock {
    margin-left: 15px;
    color: #f8f8f6;
}

#network {
    color: #f8f8f6;
}

#pulseaudio {
    color: #f8f8f6;
}

#battery {
    color: #f8f8f6;
}
